.title {
    background-color: rgb(53, 53, 53);
    color: whitesmoke;
    text-align: center;
}

body {
    background-color: rgb(131, 131, 131);
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-orange {
    background-color: orange;
}

.bg-red {
    background-color: red;
}

.bg-extremePurple {
    background-color: violet;
}